# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = false

[*.cs]
# Default severity for analyzer diagnostics with category 'Style' (escalated to build warnings)
dotnet_analyzer_diagnostic.category-Style.severity = warning

#dotnet_diagnostic.<rule ID>.severity = error|warning|suggestion|silent|none|default

# it is preferred to wrap some expressions in parentheses
# (e.g. bool myBool = (myVar == myValue);)
dotnet_diagnostic.IDE0047.severity = silent

# ignore namespace folder structure for now
dotnet_diagnostic.IDE0130.severity = silent

# it is preferred to have common using statements at the
# top of each file even if they aren't always used
dotnet_diagnostic.IDE0005.severity = silent